<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Welcome to use the Warehouse management system - The RUSHES</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="Themesbrand" name="author"/>

    <!-- App favicon -->
    <link href="assets/images/favicon.ico" rel="shortcut icon">

    <!-- App css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

</head>

<body class="bg-white">

<!-- Log In page -->
<div class="row">
    <div class="col-lg-3 pr-0">
        <div class="card mb-0 shadow-none">
            <div class="card-body">

                <h3 class="text-center m-0">
                    <a class="logo logo-admin" href="index.html"><img alt="logo" class="my-3"
                                                                      height="60" src="assets/images/logo-sm.png"></a>
                </h3>

                <div class="px-3">
                    <h4 class="text-muted font-18 mb-2 text-center">Welcome Back !</h4>
                    <p class="text-muted text-center">Log in to warehouse management.</p>

                    <form action="loginFunction.html" class="form-horizontal my-4" method="post">

                        <div class="form-group">
                            <label for="jobNo">工号</label>
                            <p style="color: red;font-style: italic"><span th:text="${error}"></span></p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i></span>
                                </div>
                                <input class="form-control" id="jobNo" name="jobNo" placeholder="工号" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">密码</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                                </div>
                                <input class="form-control" id="password" name="password" placeholder="密码"
                                       type="password">
                            </div>
                        </div>


                        <div class="form-group mb-0 row">
                            <div class="col-12 mt-2">
                                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">登录<i class="fas fa-sign-in-alt ml-1"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="m-3 text-center bg-light p-3 text-primary">
                    <h4 class="">Don't have an account ? </h4>
                    <p class="font-13">Join <span>蒹葭</span> Now</p>
                    <a class="btn btn-primary waves-effect waves-light" href="#">Join Now</a>
                </div>
                <div class="mt-4 text-center">
                    <p>© 2019-2020 蒹葭 <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i
                            class="mdi mdi-heart text-danger"></i> by reserved</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 p-0 h-100vh d-flex justify-content-center">
        <div class="accountbg d-flex align-items-center">
            <div class="account-title text-center text-white">
                <h4 class="mt-3">欢迎使用 <span class="text-warning">仓库管理系统</span></h4>
                <h1 class="">让我们开始吧</h1>
                <p class="font-14 mt-3">爱是一种享受，是一种奉献。老朋友，请告诉我们你的事。</p>
                <div class="border w-25 mx-auto border-warning"></div>
            </div>
        </div>
    </div>
</div>
<!-- End Log In page -->

<!-- jQuery  -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/metisMenu.min.js"></script>
<script src="assets/js/waves.min.js"></script>
<script src="assets/js/jquery.slimscroll.min.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

</body>
</html>