<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gues.mapper.ClientMapper">

    <select id="selectAllClient" resultType="Client">
        select id,name,address,phone from client;
    </select>

    <select id="selectClientById" resultType="Client">
        select id,name,address,phone from client where id=#{id};
    </select>

    <insert id="insertClient" parameterType="Client">
        insert into client (id, name, address, phone)
        values (#{id}, #{name}, #{address}, #{phone});
    </insert>


    <update id="updateClientById" parameterType="Client">
        update client
        set  name=#{name},address=#{address},phone=#{phone}
        where id=#{id};
    </update>

    <delete id="deleteClientById">
        delete from client where id=#{id};
    </delete>
</mapper>
