<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.gues.mapper.RecordMapper">
    <select id="selectAllInRecord" resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where operation='入库';
    </select>
    <select id="selectAllOutRecord" resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where operation='出库';
    </select>
    <select id="selectRecordInById" resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where operation='入库' and id=#{id};
    </select>
    <select id="selectRecordOutById" resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where operation='出库' and id=#{id};
    </select>
    <insert id="insertRecord" parameterType="Record">
        insert into record (id, cargo_id, entrepot_id, operation, number, price, sum_price, create_time)
        values (#{id}, #{cargoId}, #{entrepotId}, #{operation}, #{number}, #{price}, #{sumPrice}, #{createTime});
    </insert>
    <update id="updateRecordById" parameterType="Record">
        update record
        set   cargo_id=#{cargoId}, entrepot_id=#{entrepotId}, operation=#{operation}, number=#{number}, price=#{price}, sum_price=#{sumPrice}, create_time=#{createTime}
        where id=#{id};
    </update>
    <delete id="deleteRecordById">
        delete from record where id=#{id};
    </delete>
    <select id="ifCargoNum"  resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where cargo_id=#{cargoId};
    </select>
    <select id="selectTwoGet" resultType="Record">
        select id,cargo_id,entrepot_id,operation,number,price,sum_price,create_time
        from record where entrepot_id=#{entrepotId};
    </select>
</mapper>
